{% set title = "패스워드 변경" %}
{% extends "layout/base.html" %}
 
{% block content -%}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">패스워드 변경</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="" id="join_form" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="변경을 희망하는 Password 입력" name="password" type="password" autofocus="true" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password 확인" name="password2" type="password" value="" required>
                        </div>             
                        <!-- Change this to a button or input when using this as a form -->
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="변경하기">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#join_form').submit(function(){

        var $passwordInput = $('#join_form input[name=password]');
        var $passwordInput2 = $('#join_form input[name=password2]');

    

        if($passwordInput.val() !== $passwordInput2.val()){
            alert("패스워드와 확인용패스워드를 똑같이 입력해주세요.");
            return false;
        }


     function chkPwd($passwordInput){

        var pw = $passwordInput;
        var pw2 =$passwordInput2;
        var num = pw.search(/[0-9]/g);
        var eng = pw.search(/[a-z]/ig);
        var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

        if(pw.length < 10 || pw.length > 20){
        alert("10자리 ~ 20자리 이내로 입력해주세요.");
        return false;
        }

        if(pw.search(/₩s/) != -1){
        alert("비밀번호는 공백업이 입력해주세요.");
        return false;
        }

        if( (num < 0 && eng < 0) || (eng < 0 && spe < 0) || (spe < 0 && num < 0) ){
        alert("영문,숫자, 특수문자중 2가지 이상을 혼합하여 입력해주세요.");
        return false;
        }


        return true;
        }

        if(!chkPwd( $.trim($passwordInput.val()))){
        $passwordInput.val('');
        $passwordInput.focus();
        return false;
        }



       
    });
});
</script>


{% endblock %}