% set title = "쇼핑몰 메인화면" %}
{% extends "layout/base.html" %}
 
{% block content -%}

    <div class="container" id="masonry_container">
        {% for product in products %}
        <div class="masonry-grid">
            {% if product.thumbnail %}
              <a href="/admin/products/detail/{{product.id}}"><img src="/uploads/{{ product.thumbnail }}"></a>
            {% endif %}
            <p>
                <font size="3"><b>자유게시판</b></font></br>
                {{ product.name }}<br />
                {{ product.price }}(원)<br />
                by {{ product.Owner.displayname }} (
                    {{ product.dateFormat( product.createdAt ) }}
                )
            </p>
        </div>
        {% endfor %}
    <div>

    <div class="container" id="masonry_container">
        {% for dress in Dress %}
        <div class="masonry-grid">
            {% if dress.thumbnail %}
               <a href="/dress/products/detail/{{dress.id}}"> <img src="/uploads/{{ dress.thumbnail }}"></a>
            {% endif %}
            <p>
                <font size="3"><b>의류/악세사리 게시판</b></font></br>
                {{ dress.name }}<br />
                {{ dress.price }}(원)<br />
                by {{ dress.DOwner.displayname }} (
                    {{ dress.dateFormat( product.createdAt ) }}
                )
            </p>
        </div>
        {% endfor %}

    <div class="container" id="masonry_container">
        {% for design in Design %}
        <div class="masonry-grid">
            {% if design.thumbnail %}
               <a href="/design/products/detail/{{design.id}}"> <img src="/uploads/{{ design.thumbnail }}"></a>
            {% endif %}
            <p>
                <font size="3"><b>가구/생활용품 게시판</b></font></br>
                {{ design.name }}<br />
                {{ design.price }}(원)<br />
                by {{ design.DOwner.displayname }} (
                    {{ design.dateFormat( product.createdAt ) }}
                )
            </p>
        </div>
        {% endfor %}
    </div>

<style type="text/css">
.masonry-grid img { max-width: 260px; }
</style>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    var $masonry_container = $('#masonry_container');
    $masonry_container.imagesLoaded(function(){
      $masonry_container.masonry({
        itemSelector : '.masonry-grid',
        columnWidth : 270
      });
    });
</script>
{% endblock %}