{% set title = "유저 정보 페이지" %}
{% extends "layout/base.html" %}

{% block content -%}
<form action="/change" method="post" enctype="multipart/form-data">
<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="panel panel-default">
        <div class="panel-heading">
           <b>아이디 :  {{ users.username }}</b>
        </div>
    </div>
        <div class="panel-body">
            <div style="padding-bottom: 10px">
               <b> 이름 : {{ users.displayname }}</b>
            </div>
        </div>
         <div class="panel-body">
            <div style="padding-bottom: 10px">
              <b>  이메일 : {{ users.email }}</b>
            </div>
        </div>
        <div class="panel-body">
            <div style="padding-bottom: 10px">
              <b>  전화번호 : {{ users.phone }}</b>
            </div>
        </div>
        <div class="panel-body">
            <div style="padding-bottom: 10px">
              <b>  성별 : {{ users.gender }}</b>
            </div>
        </div>
        <div class="panel-body">
            <div style="padding-bottom: 10px">
             <b>   생년월일 : {{ users.Year }}년 {{ users.Month }}월 {{ users.Day }}일 </b>
         </div>
    
          <a href="/change" class="btn btn-lg btn-success">정보 변경</a>
          
       </form>           
<!--
        </div>
    </div>

    <a href="/admin/products/edit/{{ product.id }}" class="btn btn-primary">수정</a>-->



{% endblock %}