{% set title = "유저 정보 페이지" %}
{% extends "layout/base.html" %}


{% block content -%}
<form action="/change" method="post" enctype="multipart/form-data">
<input type="hidden" name="_csrf" value="{{ csrfToken }}" /> 
<div style="width:50%; height : 100%; border:none; float:left; max-width : 100%;">
        <table class="type10">
        <thead>
        <tr>
            <th scope="cols">항목</th>
            <th scope="cols">내 정보</th>
        </tr>
        </thead>

        <tbody>
    <tr>
        <th scope="row">아이디</th>
        <td><b>{{ users.username }}</b></td>
    </tr>
    <tr>
        <th scope="row" class="even">닉네임</th>
        <td class="even"><b>{{ users.displayname }}</b></td>
    </tr>
    <tr>
        <th scope="row">이메일</th>
        <td><b>{{ users.email }}</b></td>
    </tr>
    <tr>
        <th scope="row">이름</th>
        <td><b>{{ users.name }}</b></td>
    </tr>
    <tr>
        <th scope="row" class="even">전화번호</th>
        <td class="even"><b>{{ users.phone }}</b></td>
    </tr>
    <tr>
        <th scope="row">성별</th>
        <td><b>{{ users.gender }}</b></td>
    </tr>
    <tr>
        <th scope="row" class="even">생년월일</th>
        <td class="even"><b>{{ users.Year }}년 {{ users.Month }}월 {{ users.Day }}일</b></td>
    </tr>
        </tbody>
    </table>
    <a href="/change" class="btn btn-lg btn-success">정보 변경</a> <a href="https://www.kisa.or.kr/jsp/common/downloadAction.jsp?bno=259&dno=75&fseq=2">개인정보처리방침</a>
 </div>

 <div style="width:50%; height : 100%; border:none; float:left;"> 
    <img src="../../img/personalP.png" style="max-width: 100%;">
</div>
  
</form>           
<!--
        </div>
    </div>

    <a href="/admin/products/edit/{{ product.id }}" class="btn btn-primary">수정</a>-->



{% endblock %}